
canvas#ss{
    width:100vw;
    height: 100vh;
    inset: 0;
    z-index: -15;
}
:root{
    --main-color:rgb(240, 176, 0);
    --main-bg-color: rgba(250, 204, 0, 0.452);
    --white-color:#181818;
    --bg-primary-color:#232323;
    --p-color:#f8f8f8;
    --bg-color:#0000001e;

    --dark-theme-color-ff: #ffffff;
        --dark-theme-color-00: #000000;
    

    
}
.dark{
    --main-color: rgb(255, 0, 0);
    --main-bg-color: rgba(255, 0, 0, 0.582);

    --white-color: #eeeeee;

    --bg-primary-color: #dfdfdf;
    --bg-color: #ebebeb;
    
    --p-color: #1b1b1b;

    --dark-theme-color-ff:#ffffff;
    --dark-theme-color-00: #000000;



}

*{
    transition: all 0.5s;
}

div.theme{
    background-color: var(--dark-theme-color-ff);
    box-shadow: 0 0 5px var(--dark-theme-color-ff);
        padding: 0 3px;
        border-radius: 15px;
}

 div.theme i.fa-sun{
    color: var(--dark-theme-color-ff) !important;
}
/* html:has(body.dark) div.theme i.fa-sun{
    color: var(--dark-theme-color-ff) !important;

} */
 div.theme i.fa-moon {
    color: var(--dark-theme-color-00) !important;
}
/* html:not(:has(body.dark)) div.theme i.fa-sun {
    color: var(--dark-theme-color-ff) !important;
} */

html:has(body.dark) div.theme{
    background-color: var(--dark-theme-color-00) !important;
    box-shadow: 0 0 5px var(--dark-theme-color-00);
    
}
/* html:not(:has(body.dark)) div.theme {
    background-color: var(--dark-theme-color-ff);
    padding: 0 3px;
    border-radius: 15px;
} */

body{
    min-height: 100vh;
    background-color: var(--bg-primary-color) !important;
    color: var(--p-color)!important;
    background: radial-gradient(circle,  var(--main-bg-color) 11%, #00800000 11%) center / 20px 20px,
                linear-gradient(#ff000000 0% 45%,var(--bg-color) 48% 53% ,#00800000 52%) center / 20px 20px,
                linear-gradient(90deg , #ff000000 0% 45%, var(--bg-color) 48% 53%, #00800000 52%) center / 20px 20px  
                
                            ;
}


/* sign up */
label,h1,h2{
    text-transform: capitalize;
}
section{
    height: 100vh !important;
}
h3{
    font-size: 55px !important;
}
header{
    width: fit-content;
    /* backdrop-filter: blur(15px); */
}
header>div{
       max-width: 500px;
       font-size: 15px;
       padding: 25px; 
       border-radius: 15px;
       /* backdrop-filter: brightness(0.9); */
      
       border: var(--main-color) 1px solid;
       backdrop-filter: blur(1px);
    /* background:linear-gradient(45deg,var(--color-g-1),
        var(--color-g-2),
            var(--color-g-3),
                var(--color-g-4)); */
}
header div ::placeholder{
    font-size: 15px;
    text-transform: capitalize;
}

header div p{
    font-size: 12px;
}




.not-active{
    border: none;
    background-color: inherit !important;
    text-decoration: underline;
    color: var(--p-color) !important;
    
}
button{
    transition: all 1s;
    background-color: var(--main-color) !important;
    border: none !important;
    
}


div.banner{
    width:350px;
    top: 50px !important;
    left: 50%;
    transform: translateX(-50%) ;
    background-color:var(--main-bg-color) ;
    border-left: 5px solid var(--main-color);
  
}
div.banner p{
    margin: 0 !important;
    text-align: center;
}

